@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Sacramento&display=swap');
@import url('https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --dark-100: #0000;
  --grey-200: #ccccff;
  --grey-300: #f7f6f8;
  --red-100: #e20000;
  --red-500: #8a8586;
}
/* text font */
.f-lobster {
  font-family: 'Lobster', cursive, 'san';
  /* font-family: 'Sacramento', cursive; */
}
/* color text and bg */
.bg-grey-200 {
  background-color: var(--grey-200);
}
.bg-grey-300 {
  background-color: var(--grey-300);
}
.text-dark-100 {
  color: var(--dark-100);
}
.text-red-100 {
  color: var(--red-100);
}
.text-red-500 {
  color: var(--red-500);
}
